{{outlet}}
<div class="wrapper">
<h1>Dashboard</h1>
<h2>My name</h2>
<p>{{link-to 'Change my profile' 'authenticated.my-account'}}</p>
<ol>
    <li>{{link-to 'Triptyk' 'authenticated.my-account/:company'}}</li>
    <li>{{link-to 'S&W' 'authenticated.my-account/:company'}}</li>
    <li>{{link-to 'B-services' 'authenticated.my-account/:company'}}</li>
</ol>
<p>{{link-to 'Create new company' 'authenticated'}}</p>
</div>