{{outlet}}

<div class="wrapper">
    <h1>My Account</h1>
    <!--<form class="ui grid">
        <div class="field">          
            <label for="title">Title</label><br>

            {{#eui-select placeholder="Select" options=model.title size='tiny' required="true" as |option index|}}
             {{option.label}}
            {{/eui-select}}
     
            
        </div>
        <div class="field"> 
            <div>           
                <label for="lastname">Name</label><br>                
                {{#eui-input size='small'}}
                    {{input type="text" name="lastname" id="lastname"}}
                {{/eui-input}}    
            </div>  
            <div>
            <label for="firstname">Firstname</label><br>                
                {{#eui-input size='small'}}
                    {{input type="text" name="firstname" id="firstname"}}
                {{/eui-input}} 
            </div>  
          
        </div>

        <div class="field"> 
            <div>           
                <label for="email">Email</label><br>                
                {{#eui-input size='small'}}
                    {{input type="text" name="email" id="email" disabled="true" value="toto@toto.be"}}
                {{/eui-input}}    
            </div>  
             <p>{{link-to 'Change email' 'authenticated'}}</p>
        </div>
        <div>
             <div>           
                <label for="password">Password</label><br>                
                {{#eui-input size='small'}}
                    {{input type="password" name="password" id="password" disabled="true" value="nokotpulélé"}}
                {{/eui-input}}    
            </div>  
            <p>{{link-to 'Change password' 'authenticated'}}</p>
        </div>
        <div>
            <img src="/assets/default.png" alt="my picture">
        </div>
    </form>-->
</div>