{{outlet}}
<div class="loginWrapper">
<h1>Invoice IWA</h1>
<h4>Log in to your account</h4>
<form class="ui form">
  <div class="field">
    <label>Email</label>
    {{input name="email"}}    
  </div>
  <div class="field">
    <label>Last Name</label>
    {{input type="password" name="password"}}    
  </div>
  <div class="field">
    <div class="ui checkbox">
      {{input type="checkbox" name="remember" id="remember" class="hidden"}}     
      <label for="remember">Remember me</label>
    </div>
  </div>
  {{input type="submit" value="Submit" class="ui button fluid"}}
</form>
<p>{{link-to 'Forgot password ?' 'authenticated'}}</p>


</div> 